div{
    width: 50%;
    background-color: slateblue;
    border: 1px solid slateblue;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 24%;
}
header{margin-left: 35%;}
p{font: 20px sans-serif;}
img{margin-left: 92.5%;}
