body{
    background-color: brown;
}
header{
    text-align: center;
}
li{
    display: inline;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
}
#style{
    font-family: sans-serif;
    color: #fff;
    background-color: black;
    box-shadow: 2px 2px 10px #000;
}
#an{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 33px;
}
#an:hover{
    color:brown;
}
#storm{
    display:none;
    padding-top: 1%;
    padding-left: 1%;
    background-color: #ff9;
    width: 50%;
    margin-left: 27%;
    margin-top: 10%;
    height: 20%;
}
li:hover{
    color:brown;
}
